# hide project files -- source only
*.cbp
*.sln
*.vcx*
*.workspace*
config.make
Makefile
*.xcodeproj
*.plist
*.xcconfig
*.suo
*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace
*.opensdf
*.sdf
*.suo
*.ipch

.svn/
obj/
bin/
build/
!data/

# large data
data/image-net-2012.words
data/image-net-2012.sqlite3
data/shape_predictor_68_face_landmarks.dat
*.weights
*.dat

release
release/*